<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anes_.logmvvm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.printEnseignant">
        </activity>
        <activity android:name=".Activities.printEtudiant">
        </activity>
        <activity android:name=".Activities.CreateEnseignant">
        </activity>
        <activity android:name=".Activities.CreateEtudiant">
        </activity>
        <activity android:name=".Activities.createCours">
        </activity>
        <activity android:name=".Activities.CreateSalle">
        </activity>
        <activity android:name=".Activities.CreateDepartement">
        </activity>
    </application>

</manifest>